<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="fr.univartois.cril.alloyplugin.BasicsExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="als"
            id="fr.univartois.cril.alloyplugin.Basics"
            name="Basics Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="fr.univartois.cril.alloyplugin.BasicsExecutableExtensionFactory:org.eclipse.xtext.ui.common.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.common.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="fr.univartois.cril.alloyplugin.Basics.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="fr.univartois.cril.alloyplugin.BasicsExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.handler.ValidateActionHandler"
            commandId="fr.univartois.cril.alloyplugin.Basics.validate">
         <activeWhen>
            <reference
                    definitionId="fr.univartois.cril.alloyplugin.Basics.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="fr.univartois.cril.alloyplugin.Basics.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.core.editor.XtextEditor.languageName" 
                        value="fr.univartois.cril.alloyplugin.Basics" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="fr.univartois.cril.alloyplugin.BasicsExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.preferences.LanguageRootPreferencePage"
            id="fr.univartois.cril.alloyplugin.Basics"
            name="Basics"
            category="org.eclipse.xtext.languages">
            <keywordReference id="fr.univartois.cril.alloyplugin.ui.keyword_Basics"/>
        </page>
        <page
            category="fr.univartois.cril.alloyplugin.Basics"
            class="fr.univartois.cril.alloyplugin.BasicsExecutableExtensionFactory:org.eclipse.xtext.ui.common.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="fr.univartois.cril.alloyplugin.Basics.coloring"
            name="Syntax Coloring">
            <keywordReference id="fr.univartois.cril.alloyplugin.ui.keyword_Basics"/>
        </page>
        <page
            category="fr.univartois.cril.alloyplugin.Basics"
            class="fr.univartois.cril.alloyplugin.BasicsExecutableExtensionFactory:org.eclipse.xtext.ui.common.editor.templates.XtextTemplatePreferencePage"
            id="fr.univartois.cril.alloyplugin.Basics.templates"
            name="Templates">
            <keywordReference id="fr.univartois.cril.alloyplugin.ui.keyword_Basics"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="fr.univartois.cril.alloyplugin.ui.keyword_Basics"
            label="Basics"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="fr.univartois.cril.alloyplugin.Basics.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.open">
             <command
                 commandId="fr.univartois.cril.alloyplugin.Basics.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="fr.univartois.cril.alloyplugin.Basics.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="fr.univartois.cril.alloyplugin.BasicsExecutableExtensionFactory:org.eclipse.xtext.resource.XtextResourceFactory"
			type="als">
		</parser>
	</extension>
	<!--ici
	<extension point="org.eclipse.ui.commands">
            <command
               id="fr.univartois.cril.alloyplugin.basics.ui.editor.outline.SampleOutlineCommand"
               name="Sample Command"
               description="Just a sample command">
            </command>
         </extension>
         
         <extension
  point="org.eclipse.ui.handlers">
  <handler
     class="fr.univartois.cril.alloyplugin.basics.ui.editor.outline.SampleOutlineNodeHandler"
     commandId="fr.univartois.cril.alloyplugin.basics.ui.editor.outline.SampleOutlineCommand">
  </handler>
</extension>

<extension
  point="org.eclipse.ui.menus">
  <menuContribution
     locationURI="popup:org.eclipse.xtext.ui.common.outline?after=additions">
     <command
         commandId="fr.univartois.cril.alloyplugin.basics.ui.editor.outline.SampleOutlineCommand"
         label="Sample action registered for Attributes">
         <visibleWhen checkEnabled="false">
           <iterate>
              <adapt type="fr.univartois.cril.alloyplugin.basics.RunCommand" />
           </iterate>
         </visibleWhen>
     </command>
  </menuContribution>
</extension>
-->

<extension-point id="fr.univartois.cril.alloyplugin.editorlistener" name="editorlistener"/>
<extension-point id="fr.univartois.cril.alloyplugin.projectbuilderscontribution" name="Project nature contributions"/>
<extension
         point="org.eclipse.ui.editors">
     <editor
            class="fr.univartois.cril.alloyplugin.editor.ALSEditor"
            icon="icons/AlloyFile.gif"
            default="true"
            name="Alloy editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="fr.univartois.cril.alloyplugin.editor.ALSEditor"
            extensions="als"/>  
      <editor
            class="fr.univartois.cril.alloyplugin.editor.MultiPageEditor"
            contributorClass="fr.univartois.cril.alloyplugin.editor.MultiPageEditorContributor"
            default="false"
            extensions="xml"
            icon="icons/graph.gif"
            id="fr.univartois.cril.alloyplugin.editors.MultiPageEditor"
            matchingStrategy="fr.univartois.cril.alloyplugin.editor.AlloyXMLEditorMatchingStrategy"
            name="Alloy XML answer viewer"/>
</extension>


</plugin>
