<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="fr.univartois.cril.alloyplugin.launch.LaunchShortcut"
            icon="icon/icon.gif"
            id="fr.univartois.cril.alloyplugin.shortcut"
            label="run with Alloy"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
               <count value="1"/>
               <iterate operator="or">
                  <test
                        property="org.eclipse.debug.ui.matchesPattern"
                        value="*.als"/>
               </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   
</plugin>
