<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<extension-point id="fr.univartois.cril.alloyplugin.editorlistener" name="editorlistener"/>
<extension-point id="fr.univartois.cril.alloyplugin.projectbuilderscontribution" name="Project nature contributions"/>
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.univartois.cril.alloyplugin.editor.ALSEditor"
            icon="icons/AlloyFile.gif"
            default="true"
            name="Alloy editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="fr.univartois.cril.alloyplugin.editor.ALSEditor"
            extensions="als"/>  
      <editor
            class="fr.univartois.cril.alloyplugin.editor.MultiPageEditor"
            contributorClass="fr.univartois.cril.alloyplugin.editor.MultiPageEditorContributor"
            default="false"
            extensions="xml"
            icon="icons/graph.gif"
            id="fr.univartois.cril.alloyplugin.editors.MultiPageEditor"
            matchingStrategy="fr.univartois.cril.alloyplugin.editor.AlloyXMLEditorMatchingStrategy"
            name="Alloy XML answer viewer"/>
</extension>
<extension
      point="org.eclipse.core.filebuffers.documentSetup">
   <participant
         class="fr.univartois.cril.alloyplugin.editor.ALSDocumentSetupParticipant"
         extensions="als"/>
</extension>   
<extension
      point = "org.eclipse.ui.newWizards">
  <category
        id="fr.univartois.cril.alloyplugin"
        name="Alloy"/>
  <wizard
        category="fr.univartois.cril.alloyplugin"
        class="fr.univartois.cril.alloyplugin.ui.NewAlloyFileWizard"
        icon="icons/AlloySpec.gif"
        id="fr.univartois.cril.alloyplugin.wizards.NewAlloyFileWizard"
    name="Alloy 4 Model"
        project="false"/>
  <wizard
        category="fr.univartois.cril.alloyplugin"
        class="fr.univartois.cril.alloyplugin.ui.NewAlloyProjectWizard"
        finalPerspective="fr.univartois.cril.alloyplugin.alloyperspective"
        hasPages="true"
        icon="icons/AlloyProject.gif"
        id="fr.univartois.cril.alloyplugin.wizards.NewAlloyProject"
        name="Alloy 4 Project"
        preferredPerspectives="fr.univartois.cril.alloyplugin.alloyperspective"
        project="true"/>
</extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="fr.univartois.cril.alloyplugin.ui.PerspectiveFactory"
         icon="icons/AlloyProject.gif"
         id="fr.univartois.cril.alloyplugin.alloyperspective"
         name="Alloy perspective"/>
</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension targetID="fr.univartois.cril.alloyplugin.alloyperspective">
      <newWizardShortcut id="fr.univartois.cril.alloyplugin.wizards.NewAlloyProject"/>
      <newWizardShortcut id="fr.univartois.cril.alloyplugin.wizards.NewAlloyFileWizard"/>
   </perspectiveExtension>
</extension>
<extension
      id="AlloyProjectNature"
      name="Alloy Project Nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run class="fr.univartois.cril.alloyplugin.ProjectNature"/>
   </runtime>
</extension>

 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="fr.univartois.cril.alloyplugin.contribution">
         <action
               label="Show Project Nature"
               class="fr.univartois.cril.alloyplugin.ui.ShowNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="fr.univartois.cril.alloyplugin.ShowNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="AlloyProblem"
         name="Alloy Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="als"
            id="fr.univartois.cril.alloyplugin.alsfile"
            name="ALS file"
            priority="normal"/>
      <content-type
            file-extensions="thm"
            id="fr.univartois.cril.alloyplugin.thmfile"
            name="Alloy Theme file"
            priority="normal" />
   </extension>
    <extension
         id="builder"
         name="Alloy Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false"
            isConfigurable="false">
         <run class="fr.univartois.cril.alloyplugin.ProjectBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="fr.univartois.cril.alloyplugin.contribution2">
         <action
               class="fr.univartois.cril.alloyplugin.ui.ToggleNatureAction"
               enablesFor="+"
               id="fr.univartois.cril.alloyplugin.addremovebutton"
               label="Add/Remove Alloy project Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="fr.univartois.cril.alloyplugin.contribution3">
         <action
               label="Open sample models ..."
               class="fr.univartois.cril.alloyplugin.ui.OpenLibraryModelAction"
               menubarPath="additions"
               enablesFor="+"
               id="fr.univartois.cril.alloyplugin.ui.OpenLibraryModelAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="fr.univartois.cril.alloyplugin.launch.ui.LaunchShortcut"
            icon="icons/icon.gif"
            id="fr.univartois.cril.alloyplugin.shortcut"
            label="Alloy Specification"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
               <count value="1"/>
               <iterate operator="or">
                  <test
                        property="org.eclipse.debug.ui.matchesPattern"
                        value="*.als"/>
               </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <perspective id="fr.univartois.cril.alloyplugin.alloyperspective"/>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="fr.univartois.cril.alloyplugin.launch.category"
            description="launch Alloy command"
            id="fr.univartois.cril.alloyplugin.launch.runalloycommand"
            name="Run Alloy command"/>
      <command
            categoryId="fr.univartois.cril.alloyplugin.launch.category"
            description="Display Alloy answer"
            id="fr.univartois.cril.alloyplugin.launch.displayalloycommandanswer"
            name="Show Alloy answer"/>
      <category
            id="fr.univartois.cril.alloyplugin.launch.category"
            name="Alloy"/>
      <activeKeyConfiguration value="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <category name="A4E Accelerator Keys" id="fr.univartois.cril.alloyplugin.category1"/>
         <command category="fr.univartois.cril.alloyplugin.category1"
             name="Open Sample Models"
             id="fr.univartois.cril.alloyplugin.ui.OpenLibraryModelAction"/>
         <keyBinding
             command="fr.univartois.cril.alloyplugin.ui.OpenLibraryModelAction"
             string="Ctrl+Alt+O"
             scope="org.eclipse.ui.globalScope"
             configuration="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="fr.univartois.cril.alloyplugin.launch.runalloycommand"
            icon="icons/AlloyCommand.gif"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="fr.univartois.cril.alloyplugin.alloyperspective">
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          delegate="fr.univartois.cril.alloyplugin.launch.ui.LaunchConfigurationDelegate"
          id="fr.univartois.cril.alloyplugin.launch.ui.LaunchConfigurationType"
          modes="run"
          name="Alloy command"
          public="true">
       <fileExtension
             default="true"
             extension="als"/>        
    </launchConfigurationType>
</extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="fr.univartois.cril.alloyplugin.launch.ui.LaunchConfigurationType"
            icon="icons/AlloyCommand.gif"
            id="fr.univartois.cril.alloyplugin.launch.launchConfigurationTypeImage1"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="fr.univartois.cril.alloyplugin.launch.ui.LaunchConfigurationTabGroups"
            id="fr.univartois.cril.alloyplugin.launch.launchConfigurationTabGroup1"
            type="fr.univartois.cril.alloyplugin.launch.ui.LaunchConfigurationType">
      </launchConfigurationTabGroup>

 </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.univartois.cril.alloyplugin.preferences.AlloyPreferencePage"
            id="fr.univartois.cril.alloyplugin.preferences.AlloyPreferencePage"
            name="Alloy Preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="fr.univartois.cril.alloyplugin.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/AlloyProject2.gif"
            id="fr.univartois.cril.alloyplugin.image"
            natureId="fr.univartois.cril.alloyplugin.AlloyProjectNature"/>
   </extension>
   
<extension point="org.eclipse.ui.views">
   <category
         id="fr.univartois.cril.alloyplugin.views"
         name="Alloy4Eclipse"/>
        <view
              allowMultiple="true"
              category="fr.univartois.cril.alloyplugin.views"
              class="fr.univartois.cril.alloyplugin.views.VizView"
              icon="icons/graph.gif"
              id="fr.univartois.cril.alloyplugin.views.vizview"
              name="Graphical View"/>
</extension>
</plugin>
