<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   

<extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.univartois.cril.alloyplugin.editor.ALSEditor"
            icon="icons/icon.gif"
            default="true"
            name="Small Alloy editor beta 0.0.1"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="fr.univartois.cril.alloyplugin.editor.ALSEditor"
            extensions="als"/>
</extension>
   
<extension-point id="fr.univartois.cril.alloyplugin.listeners" name="Test Listeners"/>
<extension point ="fr.univartois.cril.alloyplugin.listeners">
	<listener class="fr.univartois.cril.alloyplugin.listener">
	</listener>
</extension>
<extension
      point="org.eclipse.core.filebuffers.documentSetup">
   <participant
         class="fr.univartois.cril.alloyplugin.editor.ALSDocumentSetupParticipant"
         extensions="als"/>
</extension>   
<extension
      point = "org.eclipse.ui.newWizards">
  <category
        id="fr.univartois.cril.alloyplugin"
        name="Alloy"/>
  <wizard
        category="fr.univartois.cril.alloyplugin"
        class="fr.univartois.cril.alloyplugin.wizards.AlloyFileWizard"
        icon="icons/icon.gif"
        id="fr.univartois.cril.alloyplugin.wizards.SampleNewWizard"
    name="Alloy 4 Model"
        project="false"/>
  <wizard
        category="fr.univartois.cril.alloyplugin"
        class="fr.univartois.cril.alloyplugin.wizards.AlloyProjectWizard"
        icon="icons/ProjectAlloy.gif"
        id="fr.univartois.cril.alloyplugin.wizards.NewAlloyProject"
        name="Alloy 4 Project"
        project="true"/>
</extension>
</plugin>
